@model IEnumerable<News>

@{
    ViewData["Title"] = "Home Page";
}
<div class="row">


    <div class="col-md-4">
        <div class="plaintext static">
            <div style="float: left; width: 160px;">
                <img src="pic/staff/dudar.jpg" alt="" width="128" height="170" /><br />
            </div>

            <p> Кафедра програмної інженерії існує вже 55 років, хоч і не  завжди носила цю назву. На кафедрі працюють більше 50  викладачів, у числі яких 6 докторів наук, 12 професорів, 27 доцентів, 33 кандидата наук.

            <p>За час свого існування кафедра підготувала більше 500 кандидатів та докторів наук.
            <p>Завідує кафедрою Дудар З.В., член вченої ради, член НМР, член НТР, кандидат технічних наук, професор.
        </div>
        <hr />
        Посилання на соціальні мережі: 
        <p>https://www.facebook.com/pg/se121.nure.ua/  <br/>
        https://www.facebook.com/groups/se121.nure.ua/ <br />
        https://www.linkedin.com/company/se121-nure-ua/ <br />
        https://www.instagram.com/se121.nure.ua/
        </p>
    </div>


    <div class="col-md-8">
        @*<h2>Новини</h2>*@
        <div class="accordion" id="accordionNews">
            @foreach (var item in Model)
            {
                string h1 = "heading" + item.Id;
                string c1 = "collapse" + item.Id;
                string date = item.Date.ToString("dd/MM/yyyy");
                string imagePath = Dept2.Controllers.NewsController.PIC_NEWS_PATH + item.ImageName;
                string show = item == Model.First() ? "show" : "";

                <div class="card">
                    <div class="card-header" id="@h1">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#@c1"
                                    aria-expanded="false" aria-controls="@c1">
                                <span class="small">@date</span>
                                @Html.Raw(item.Heading)
                            </button>
                        </h5>
                    </div>
                    <div id="@c1" class="collapse @show" aria-labelledby="@h1" data-parent="#accordionNews">
                        <div class="card-body">
                            @Html.Raw(item.Body)
                            @if (!string.IsNullOrEmpty(item.ImageName))
                            {
                                <div>
                                    <img src="@imagePath" />
                                </div>
                            }

                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
</div>


