@model IEnumerable<Dept2.Models.Person>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name_uk)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Name_ru)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name_en)
            </th>*@

            <th>
                @Html.DisplayNameFor(model => model.Post_uk)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Post_ru)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post_en)
            </th>*@

            <th>
                @Html.DisplayNameFor(model => model.Resume_uk)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Resume_ru)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resume_en)
            </th>*@

            <th>
                @Html.DisplayNameFor(model => model.Rank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Link)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name_uk)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Name_ru)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name_en)
            </td>*@

            <td>
                @Html.DisplayFor(modelItem => item.Post_uk)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Post_ru)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Post_en)
            </td>*@

            <td>
                @Html.DisplayFor(modelItem => item.Resume_uk)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Resume_ru)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resume_en)
            </td>*@

            <td>
                @Html.DisplayFor(modelItem => item.Rank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Link)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
